<h1>Adding new location</h1>
<div>
  <form action="/location/post" method="post">
    <label for="name" , name="locName">Location</label>
    <input type="text" name="name" id="name" />
    <br />
    <label for="zipcode" , name="zipcode">Zipcode</label>
    <input type="text" , name="zipcode" id="zipcode" />
    <br />
    <button type="submit">Add</button>
  </form>
</div>