<h1>Adding new organization</h1>
<div>
  <form action="/organization/post" method="post">
    <label for="name" , name="orgName">Organization</label>
    <input type="text" name="name" id="name" />
    <br />
    <label for="ceo" , name="ceo">Ceo</label>
    <input type="text" name="ceo" id="ceo" />
    <br />
    <button type="submit">Add</button>
  </form>
</div>